*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.map-container {
  height: 400px;
  position: absolute;
  opacity: 1;
}

.sidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: #fff;
  padding: 6px 12px;
  font-family: monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}
.map_modal{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 15px;
    width: 40vw;
    height: 88vh;
    margin-right: auto;
    min-height: 88vh;
    margin-left: 50px;
    position: fixed;
    top: 0;
    margin-top: 50px;
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    flex-direction: column;
}
.map_modal .mapModal_navPr{
    background-color: #276EF1;
    box-sizing: border-box;
    display: flex;
    color: #fff;
    position: relative;
}
.map_modal .mapModal_navPr .mapModal_nav{
    padding-top: 30px;
    padding-right: 20px;
    padding-left: 40px;
    padding-bottom: 10px;
    color: #fff;
}
.map_modal .mapModal_navPr .mapModal_nav .secondlinePr{
    display: flex;
    flex-direction: row;
}
.secondline{
    padding-right: 16px;
    line-height: 44px;
    font-size: 36px;
    box-sizing: border-box;
    color: #fff;
    font-family: MoveMedium,system-ui, Helvetica, Arial, sans-serif;
    font-weight: 600;
}
.secondline_lottie{
    padding-right: 0px;
    margin-left: 20px;
}
.action{
    display: flex;
}
.action_child{
    margin-top: 15px;
    flex: 1;
    cursor: pointer;
}
.action_child span{
    margin-left: 30px;
    padding: 20px;
    cursor: pointer;
    line-height: 30px;
    font-size: 16px;
    box-sizing: border-box;
    color: #111;
    font-family: MoveMedium,system-ui, Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.action .action_child{
    margin-top: 15px;
    flex: 1;
    cursor: pointer;
}
.action .action_child span{
    margin-left: 30px;
    padding: 20px;
    cursor: pointer;
    line-height: 30px;
    font-size: 16px;
    box-sizing: border-box;
    color: #111;
    font-family: MoveMedium,system-ui, Helvetica, Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
}
.action_child:nth-child(1):hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.action_child:nth-child(2):hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.action_child:nth-child(3):hover{
    transform: scale(1.1);
    transition-duration: 0.5s;
}
.destination{
    background: #111;
    color: #fff;
    padding: 5px;
    height: 50px;
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
}
.destination span{
    font-size: 30px;
    font-weight: 500;
    font-family: sans-serif;
}
.powered{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.sec_containerPr{
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: rgb(229 231 235);
}
.sec_container{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    margin-top: -10px;
}
.sec_containerPr .backbutton{
    background-color: #fff;
    padding: 5px;
} 
.sec_containerPr .input .circle{
    display: flex;
    flex-direction: column;
}
.sec_containerPr .input .circle>img{
    width: 15px;
    height: 15px;
    margin: 25px;
}
.sec_containerPr .input .line>img{
    margin-left: 2.5px;
    margin-top: -30px;
    padding: 5px;
}
.sec_containerPr .input .square>img{
    width: 15px;
    height: 15px;
    margin: 25px;
    margin-top: -12px;
}
.type{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    justify-content: space-between;
    padding-bottom: 10px;
}
.type input{
    background-color: rgb(229 231 235);
    text-overflow: ellipsis;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 20px;
    padding-right: 30px;
    min-height: 52px;
    font-weight: normal;
    box-sizing: border-box;
    font-size: 16px;
    color: #000000;
    width: 90%;
    overflow: hidden;
    border: none;
}
.savedPlaces{
    background-color: #fff;
    margin-top: 5px;
    align-items: center;
    display: flex;
}
.savedPlaces img{
    background-color: rgb(156 163 175);
    color: #fff;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin-left: 20px;
}
.savedPlaces p{
    padding-right: 25px;
    padding-left: 25px;
    padding-bottom: 18px;
    padding-top: 18px;
    color: #111;
    background-color: #fff;
    font-size: 16px;
    line-height: 20px;
    font-family: sans-serif;
    font-weight: 700;
    width:100%;
    align-items: center;
    cursor: pointer;
    outline: none;
}
.confirmLocation{
    background-color: #fff;
    height: 100%;
    margin-top: 5px;
}
.confirmLocation .confirm_button{
    justify-content: center;
    display: flex;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 5px;
    cursor: pointer;
    border-radius: 10px;
    margin-top: 10px;
}
.confirm{
    display: flex;
    justify-content: center;
     padding-right: 25px;
     width: 50%;
    padding-left: 25px;
    color: #FFF;
    background-color: #111;
    font-size: 16px;
    text-decoration: none;
    font-family: sans-serif;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    padding-top: 0;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}
.ride_container{
    display: table;
    border-collapse: collapse;
    height: 100%;
    min-height: 10px;
}
.confirmRequest{
    display: table-row;
    background-color: #276EF1;
    height: 100%;
    vertical-align: bottom;
    height: 1px;
    padding-top: 10px;
    color: #fff;
    width: 80%;
}
.RequestButton{
    margin-left: 10px;
    margin-right: 10px;
    justify-content: center;
    text-align: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
    font-family: sans-serif;
    font-weight: 600;
    cursor: pointer;
}
.confirm1{
    align-items: center;
    padding-top: 0;
}
